/* RESET
   http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END RESET */
/*----------------------------------------------------------------------------*/
/* FUNCTIONS */

.scroll::-webkit-scrollbar {
  width: 5px;
}

.scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scroll::-webkit-scrollbar-thumb {
  background: #8fb5bf;
}

::selection {
  background: var(--yello);
}

/* END FUNCTIONS */
/*----------------------------------------------------------------------------*/
/* LAYOUT */

body {
  --bodyfont: "Outfit", sans-serif;
  --bloo: #8fb5bf;
  --gray: #444444;
  --gray2: #555555;
  --yello: #f4d076;
}

i {
  font-style: italic;
}

h1, h2, h3, h4, h5 {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 800 !important;
  font-style: normal;
}

h1 {
  color: var(--yello);
  letter-spacing: 3px;
  line-height: 110% !important;
  margin-bottom: 0px !important;
  text-align: right;
  padding-right: 18px;
}

h2, h3 {
  color: var(--gray);
  letter-spacing: 2px;
  display: block;
}

h6 {
  color: var(--gray);
  font-family: brandon-grotesque, sans-serif;
  font-weight: 600 !important;
  font-style: normal;
  letter-spacing: 1px;
}

p, ul, li {
  font-family: var(--bodyfont);
  color: var(--gray);
  font-size: 16px;
  line-height: 22px;
}

ul {
  display: block;
  width: 100%;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

.extlink {
  color: var(--bloo);
  transition: 0.5s;
  }

.extlink:hover {
  color: var(--yello) !important;
}

.box {
  margin: 18px;
}

.scroll {
    overflow-y: scroll;
}

.item {
  position: absolute;
}

.space {
  padding-right: 10%;
}

.fullpic {
  width: 100%;
}

.halfpic {
  width: 50%;
}

.smallpic {
  width: 33.33%;
}

.fourthpic {
  width: 25%;
}

.shrink {
  flex: 1 1 0;
}

.right {
  text-align: right;
}

.mobile {
  display: none !important;
}

#layout {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;

  height: 95%;
  width: 80%;

  padding: 18px;
  margin: 0;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page {
  display: flex;
  flex-flow: column wrap;
}

.gallery {
  display: flex;
  flex-flow: row wrap;
}

#holder {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 3%;
}
#music {
  width: 100%;
}

#cover {
  display: none;
  width: 98%;
  height: 100%;
  position: fixed;
  background-color: white;
  opacity: 0.6;
  z-index: 100;
  cursor: pointer;
}

.popup {
  cursor: pointer;
}

.grab {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

/* ANIMATIONS MODIFIED FROM
   https://codepen.io/themechills/pen/dMamgG
*/

@keyframes fadeInUp {
    from {
        transform: translate3d(0,3%,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,3%,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: .75s;
    animation-fill-mode: both;
    -webkit-animation-duration: .75s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

/* END LAYOUT */
/*----------------------------------------------------------------------------*/
/* SIDEBAR */

#sidebar {
  flex: 0 0 252px;
  position: -webkit-sticky;
  position: sticky;
  top: 18px;
  width: 252px;
  height: fit-content;
  z-index: 10;
}

#windowsill {
  position: relative;
  height: 254.5px;
  padding-top: 9px;
}

#window {
  box-sizing: border-box;
  width: 100%;
  padding: 36px 18px 0px 18px;
}

#sun {
  width: 75%;
  top: 30%;
  left: 18%;
}

#avo {
  width: 20%;
  top: 35%;
  left: 73%;
  z-index: 10;
}

#tum {
  width: 21%;
  top: 53%;
  left: 58%;
  z-index: 10;
}

#pothos {
  width: 40%;
  top: 1%;
  left: 2%;
  z-index: 10;
}

#description-box {
  height: 189px;
  width: 100%;
}

.poly {
  stroke: var(--bloo);
  stroke-width: 2px;
  fill: white;
}

.description {
  padding: 25px;
  font-size: 13.5px;
  line-height: 18px;
}

#navigation {
  /*border: 2px solid var(--bloo);*/
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 18px;
  height: 56px;
}

.nav {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 1px;
  color: var(--gray);
  transition: height 0.15s, border-bottom 0.15s, margin-top 0.15s;
}

.nav:hover {
  color: var(--gray);
  height: 21px;
  border-bottom: 3px solid var(--yello);
  margin-top: -2px;
}

/* END SIDEBAR */
/*----------------------------------------------------------------------------*/
/* ROOM */

#myroom {
  display: flex;
  flex-flow: row wrap;
  width: 440px;
}

#wall {
  box-sizing: content-box;
  position: relative;
  height: max-content;
  width: 100%;
  min-width: 252px;
  max-width: 540px;
}

#room {
  width: 100%;
}

#welcome {
  width: 95%;
  top: 1.5%;
  left: 2%;
}

#bottle {
  width: 12%;
  top: 63%;
  left: -3%;
  z-index: 20;
  animation: visible 1s 1;
}

#taekwondo {
  width: 3%;
  height: 8%;
  top: 48%;
  left: 6%;
}

#polaroids {
  width: 65%;
  height: 8%;
  top: 17%;
  left: 10%;
}

#ethical {
  width: 10%;
  height: 16%;
  top: 33%;
  left: 12%;
}

#record {
  width: 11%;
  height: 9%;
  top: 51.5%;
  left: 13%;
}

#skunk {
  width: 11%;
  height: 4%;
  top: 29%;
  left: 33%;
}

#comic {
  width: 10%;
  height: 3.5%;
  top: 35.5%;
  left: 28.5%;
}

#pic {
  width: 9%;
  height: 12%;
  top: 43%;
  left: 27%;
}

#cal {
  width: 8%;
  height: 5%;
  top: 58%;
  left: 27%;
}

#epi {
  width: 5%;
  height: 11%;
  top: 38%;
  left: 39%;
}

#map {
  width: 12%;
  height: 16%;
  top: 32%;
  left: 47%;
}

#jam {
  width: 12%;
  height: 22%;
  top: 53%;
  left: 42%;
}

#jam:hover {
  cursor: pointer;
}

#lappy {
  width: 15%;
  height: 10%;
  top: 75%;
  left: 36%;
}

#backpack {
  width: 14%;
  height: 18%;
  top: 70%;
  left: 57%;
}

#mangosteen {
  width: 7%;
  height: 5%;
  top: 83%;
  left: 68%;
}

/* END ROOM */
/*----------------------------------------------------------------------------*/
/* ME */

#me {
  width: 252px;
  height: 401px;
  margin-top: 0;
}

#about_text {
  height: fit-content;
}

.contact {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 1px;
  color: var(--bloo);
}

/* END ME */
/*----------------------------------------------------------------------------*/
/* WORK */

.project {
  width: 43%;
  min-width: 252px;
}

.cover {
  width: 100%;
  transition: 0.5s;
}

.cover:hover {
  opacity: 0.7;
}

.card-title {
  margin-top: 9px;
  margin-bottom: 0px !important;
}

.boxtop {
  margin-top: 18px;
}

.boxbottom {
  margin-bottom: 18px;
}

.prototype {
  width: 100%;
  height: 95vh;
}

.prototype2 {
  height: 95vh;
}

.centerpiece {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

#demo {
  display: block;
  width: 252px;
  padding-top: 18px;
  margin: auto;
}

#demo2 {
  width: 100%;
  padding-top: 18px;
  margin: auto;
}

.solar {
  width: 100%;
  height: 0;
  padding-bottom: 75%;
  position: relative;
}

#solar {
  width: 800px;
  height: 600px;
  position: absolute;
  top: 0px;
  left: 19px;
  transform-origin: top left;
}

/*
#solar {
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 600px;
  transform: scale(0.8);
  transform-origin: 90px 10px;
  border: none;
  overflow: hidden;
}

/* END WORK */
/*----------------------------------------------------------------------------*/
/* SMALL LAPTOP / SMALL WINDOW */
/*
@media only screen and (max-device-width: 1280px) and (max-width: 869px) {
  #layout {
    overflow-y: scroll;
    width: 100%;
    padding: 18px;
    justify-content: center;
    align-items: center;
  }

  #layout::-webkit-scrollbar {
    width: 5px;
  }

  #layout::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  #layout:-webkit-scrollbar-thumb {
    background: #8fb5bf;
  }

  #sidebar {
    position: static;
  }

  .project {
    width: 100%;
    min-width: 252px;
  }

  #me {
    width: 100%;
    min-width: 252px;
    height: auto;
  }

  .fullpic {
    width: 100%;
  }

  .halfpic {
    width: 100%;
  }

  .fourthpic {
    width: 100%;
  }

  .smallpic {
    width: 100%;
  }

  #prototype {
    width: 100%;
    height: 600px;
  }
}
*/
/* END SMALL LAPTOP / SMALL WINDOW */
/*----------------------------------------------------------------------------*/
/* REGULAR LAPTOP MEDIUM WINDOW */

@media only screen and (min-device-width: 1024px) and (max-width: 1140px) {
  #layout {
    overflow-y: scroll;
  }

  #layout::-webkit-scrollbar {
    width: 5px;
  }

  #layout::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  #layout:-webkit-scrollbar-thumb {
    background: #8fb5bf;
  }

  #sidebar {

  }

  .project {
    width: 100%;
    min-width: 252px;
  }

  #me {
    width: 100%;
    min-width: 252px;
    height: auto;
  }

  .fullpic, .halfpic, .smallpic, .fourthpic {
    width: 100%;
  }

  #prototype {
    width: 100%;
    height: 600px;
  }
}

/* END REGULAR LAPTOP / MEDIUM WINDOW */
/*----------------------------------------------------------------------------*/
/* REGULAR LAPTOP SMALL WINDOW */

@media only screen and (min-device-width: 1024px) and (max-width: 770px) {
  #layout {
    overflow-y: scroll;
    justify-content: center;
    align-items: center;
  }

  #layout::-webkit-scrollbar {
    width: 5px;
  }

  #layout::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  #layout:-webkit-scrollbar-thumb {
    background: #8fb5bf;
  }

  #sidebar {
    position: static;
  }

  .project {
    width: 100%;
    min-width: 252px;
  }

  #me {
    width: 100%;
    min-width: 252px;
    height: auto;
  }

  .fullpic, .halfpic, .smallpic, .fourthpic {
    width: 100%;
  }

  #prototype {
    width: 100%;
  }
}

/* END REGULAR LAPTOP SMALL WINDOW */
/*----------------------------------------------------------------------------*/
/* TABLET */

@media only screen and (min-device-width: 500px) and (max-device-width: 1024px) {
  h1, h2, h3, h4, h5, h6, p {

  }

  .notmobile {
    display: none !important;
  }

  .mobile {
    display: block !important;
  }

  #layout {
    width: 100%;
    padding: 10%;
    flex-flow: column;
    align-items: center;
  }

  #sidebar {
    flex: 0 0 0px;
    position: static;
  }

  #me {
    width: 100%;
    height: auto;
  }

  .project, .cover, .fullpic, .halfpic, .smallpic, .fourthpic {
    width: 100%;
  }

  #prototype {
    width: 100%;
    height: 600px;
  }

  #solar {
    left: 0px;
    width: 850px;
    height: 638px;
  }
}

/* END TABLET */
/*----------------------------------------------------------------------------*/
/* MOBILE */

@media only screen and (max-device-width: 500px) {
  h1, h2, h3, h4, h5, h6, p {
    width: 100%;
    margin: auto;
  }

  .notmobile {
    display: none !important;
  }

  .mobile {
    display: block !important;
  }

  #layout {
    width: 100%;
    padding: 10%;
    justify-content: center;
    align-items: center;
  }

  .page {
    justify-content: center;
    align-items: center;
  }

  .gallery {
    justify-content: center;
    align-items: center;
  }

  #sidebar {
    position: static;
  }

  .box {
    width: 100%;
    margin: 0px;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  #me {
    width: 100%;
    height: auto;
  }

  .project, .cover, .fullpic, .halfpic, .smallpic, .fourthpic {
    width: 100%;
  }

  #prototype {
    width: 100%;
    height: 600px;
  }

  #solar {
    left: 0px;
    width: 850px;
    height: 638px;
  }
}

/* END MOBILE */
